[form] [disabled-bar] {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: not-allowed;
    display: none;
}

div[form=input] icon,text,error { /*before steup*/
    display: none;
}
div[form=input] input {
    display: none;
}

div[form=input][ui-setup="true"] input {
 display: block;
}
div[form=input] {
    height: auto;
    width: auto;
    min-height: var(--min-height);
    position: relative;
    background-color: var(--background-color);

}

div[form=input] [input] {
    position: relative;
    background: none;
    display: flex;
    height: auto;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
 
}
div[form=input][focus] {
     border-color:var(--color-secondary);
}  
div[form=input] input {
    outline: none;
    background: none;
    border-radius: var(--border-radius);
    box-sizing: content-box;
    -webkit-appearance: none;
    appearance: none;

}
div[form=input][multiple] [parts] {
    display: flex; gap:5px; overflow: hidden;
    background:none; border-radius: var(--border-radius);  align-items: center;
}
div[form=input][multiple][join] [parts] {
     gap:0px;
}

div[form=input][multiple] [parts] input,[join] {
      min-width: 10px;  flex: initial; margin:0;
    
}
div[form=input][multiple] [parts] [join] {
     text-align: center;
   
    
}


div[form=input][multiple] [parts] [join] {
    font-size: calc(var(--font-size) + 5px);
    
}
div[form=input] [form-input-left-text] {
    display: none;
    overflow: hidden;
    flex: initial;
    max-width: 60%;
    border-top-left-radius:var(--border-radius);
    border-bottom-left-radius:var(--border-radius);
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    color:var(--color);
    box-sizing: border-box;


}
div[form=input][left="icon"] {
    padding-left: 0;
}
[form] [erro-text-hide] {
    display: none;
}
div[form=input][disabled] [disabled-bar] {
    display: block;
}   
div[form=input][disabled] {
    background: var(--disabled-bacground);
    opacity: var(--disabled-opacity);
}
div[form=input][disabled]:hover {
    border-color: var(--border-color);
}
div[form=input] [form-input-left-icon] {
    display: none;
}
div[form=input][left="icon"]  [form-input-left-icon]{
    display: flex;
}
div[form=input][left="icon"] input {
    margin-left: calc(calc(var(--font-size) + 5px) + calc(calc(var(--font-size) + 5px) * 0.90));
}
div[form=input][left="icon"] [parts] {
    margin-left: calc(calc(var(--font-size) + 5px) + calc(calc(var(--font-size) + 5px) * 0.90));
}
div[form=input][left="icon"] [parts] input {
    margin-left: 0;
}
div[form=input][left="text"] [parts]{
   margin-left:0;
}


div[form=input][left="text"] [form-input-left-text] {
    background: var(--left-background);
    opacity: 0.70;
    display:inline-block;
    
   
   

}

div[form=input] [error-text] {
    display: none;
}

div[form=input][error] {
    border-color: var(--error-color);

}
div[form=input]:invalid  {
      border-color: var(--error-color);
}
div[form=input]:invalid [error-text] {
    display: block;
    border-top: var(--border-style) var(--border-width) var(--border-color);
    color: var(--error-color);
    padding-top: var(--padding);
    padding-bottom: var(--padding);
    overflow: hidden;
    font-size: calc(var(--font-size) * 0.9);
    white-space: normal;
    word-break: break-word;
    /*var(--border-style) var(--border-width) var(--border-color)*/
}
div[form=input]:invalid text {
     display: block;
}
div[form=input][error] [error-text] {
    display: block;
    border-top: var(--border-style) var(--border-width) var(--border-color);
    color: var(--error-color);
    padding-top: var(--padding);
    padding-bottom: var(--padding);
    overflow: hidden;
    font-size: calc(var(--font-size) * 0.9);
   white-space: pre-line;
    word-break: break-word;
    /*var(--border-style) var(--border-width) var(--border-color)*/
}

div[form=input][error] text {
    display: block;
}
div[form=input][error]:hover [error-text] {
    border-color: var(--error-color);
}

div[form=input][focus] [error-text] {
     border-color: var(--error-color);
}
div[form=input][error]:hover {
    border-color: var(--error-color);
}

div[form=input] [form-input-right-checkmark] {
    display: none;
    fill: var(--color-secondary);
}

div[form=input] [form-input-right-checking] {
    fill: var(--color-secondary);
    animation: spinner 2s linear infinite;
    display: none;

}

div[form=input][checking] [form-input-right-checking] {
    display: flex;

}

div[form=input][checkmark] [form-input-right-checkmark] {
    display: block;

}

div[form=input][error] [form-input-right-error] {
    display: block;
    fill: var(--error-color);
}

div[form=input] input:disabled {
    cursor: not-allowed;

}

div[form=input][toggle] [pass-icons] {
    width: auto !important;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;

}

div[form=input][toggle] [pass-icon]:first-child {
    display: block; 
}

div[form=input][toggle] [form-input-right-error] {
    display: none;
}
