input[type="range"] {
   -moz-appearance: none;
   -webkit-appearance: none;
   appearance: none;
   background: var(--ul-hover);
   height: calc(var(--font-size) * 0.30);
   border-radius: 34px;
   margin: 0;




}

input[type=range]::-moz-range-thumb {
   margin: 0;
   height: var(--font-size);
   width: var(--font-size);
   border-radius: 50%;
   background: var(--color-primary);
   cursor: pointer;
}


input[type=range]::-webkit-slider-thumb {
   -webkit-appearance: none;
   margin: 0;
   height: var(--font-size);
   width: var(--font-size);
   border-radius: 50%;
   background: var(--color-primary);
   cursor: pointer;

}
