 .breadcrumbs {
     display: flex;
     font-size: var(--font-size);
     background: var(--background-color);
 }

 .breadcrumbs a {
     color: var(--color);
     opacity: 0.40;
 }

 .breadcrumbs a[last] {
     color: var(--color-primary);
     opacity: 1;
 }

 .breadcrumbs .icon {
     --font-size: 10px;
 }

 .breadcrumbs .breadcrumbs-p {
     gap: var(--padding);
 }
