<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(v1\/import.js)$  /v1/export.py   [QSA]
RewriteRule ^(v1\/import.css)$  /v1/export-css.py   [QSA]
RewriteRule ^(v1\/test.css)$    /v1/test-export-css.py   [QSA]
RewriteRule ^(v1\/modules.js)$  /v1/export-parts.py   [QSA]
RewriteRule ^(v1\/modules.css)$  /v1/export-css-parts.py   [QSA]


</IfModule>



