[loader] {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: calc(var(--font-size) + var(--font-size));
    padding: var(--padding) 0 var(--padding) 0;
    border-radius: var(--border-radius);
    column-gap: calc(var(--font-size) * 0.40);
    background: var(--background-color);
}

[loader] svg,
[loader] [inline] {
    display: none;
}

[loader] [label] {
    font-size: calc(var(--font-size) * 0.90);
    color: var(--color);
    overflow-x: hidden;
    white-space: normal;
    word-break: break-all;
    display: none;
}

[loader][label] [label] {
    display: block;
}

[loader="icon"] svg {
    display: block;
    min-width: calc(var(--font-size) + calc(var(--font-size) * 0.40));
    min-height: calc(var(--font-size) + calc(var(--font-size) * 0.40));
    width: calc(var(--font-size) + calc(var(--font-size) * 0.40));
    height: calc(var(--font-size) + calc(var(--font-size) * 0.40));
    animation: spinner 2s linear infinite;
    fill: var(--color-primary-container);
}

[loader="spinner"] [inline] {
    display: block;
    min-width: calc(var(--font-size) * 0.70);
    min-height: calc(var(--font-size) * 0.70);
    background: none;
    border-radius: 50%;
    border: calc(var(--font-size) * 0.20) solid var(--color-primary-container);
    /* Circle border color */
    border-top: calc(var(--font-size) * 0.20) solid transparent;
    /* Make the top transparent to create a loading effect */
    animation: spinner 1s linear infinite;
    /* Use the 'spin' animation for rotation */
}

[loader="inline"],
[loader="inline-synk"] {
    padding: 0;
    height: calc(var(--font-size) * 0.40);
    background: var(--ul-hover);
    border-radius: 35px;

}

[loader="inline-synk"] [inline],
[loader="inline"] [inline] {
    width: 100%;
    height: 100%;
    background: var(--color-primary-container);
    border-radius: 35px;
    overflow: hidden;
    display: block;

}

[loader="inline"] [label],
[loader="inline-synk"] [label] {
    display: none;
}

[loader="inline"] {
    overflow: hidden;
    justify-content: start;
}

[loader="inline"] [inline] {
    animation: load-inline 1s linear infinite;

}

[loader="inline-synk"] [inline] {
    animation: inline-synk 2s linear infinite;
}


@keyframes inline-synk {
    0% {
        width: 0%;
    }

    50% {
        width: 45%;
    }

    80% {
        width: 50%;
        /* Adjust the width during animation */
    }

    100% {
        width: 90%;
        /* Adjust the width during animation */
    }
}

@keyframes load-inline {
    0% {
        width: 5%;
        transform: translateX(-50%);
    }

    50% {
        transform: translateX(10%);
        width: 20%;

    }

    80% {
        transform: translateX(30%);
        width: 50%;
    }

    100% {
        transform: translateX(40%);
    }
}
