textarea {
     outline: none;
     background-color: var(--background-color);
     border: none;
     border-radius: var(--border-radius);
     box-sizing: content-box;
     font-size: var(--font-size);
     color: var(--color);
     border: var(--border-style) var(--border-width) var(--border-color);
     padding: var(--padding) 10px var(--padding) 10px;
}

textarea:focus {
     border-color: var(--color-secondary);
}

textarea:disabled {
     background: var(--disabled-bacground);
     opacity: var(--disabled-opacity);
     cursor: not-allowed;
}

textarea::placeholder {
     color: var(--placeholder-color);
}


@media (min-width: 768px) {
     textarea {
          scrollbar-width: thin;
     }

     textarea::-webkit-scrollbar {
          width: 8px;
     }

     textarea::-webkit-scrollbar-thumb:hover {
          background: #555;
     }


     textarea::-webkit-scrollbar-thumb:active {
          background: #777;
     }

     textarea::-webkit-scrollbar-thumb {
          background: rgba(209, 209, 209, 0.94);
          border-radius: 6px;
     }
}
