input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: var(--font-size);
    height: var(--font-size);
    border: solid calc(var(--font-size) * 0.10) var(--border-color);
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    background: var(--background-color);
    transition: var(--transition-time) ease-in-out;


}

input[type="radio"]:disabled {
    background: var(--disabled-bacground);
    opacity: var(--disabled-opacity);
    cursor: not-allowed;
}

input[type="radio"]:checked {
   border-color: var(--color-primary);
   border: solid calc(var(--font-size) * 0.30) var(--color-primary);

}
