.button {
    outline: none;
    border: none;
    padding: var(--padding) var(--padding-cnt) var(--padding) var(--padding-cnt);
    border-radius: var(--border-radius);
    display: flex;
    color: var(--color-tertiary);
    background-color: var(--color-secondary);
    user-select: none;
    font-size: var(--font-size);
    position: relative;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: var(--padding-cnt);
    height: auto;
    transition: all var(--transition-time) ease-out;

}

[d-dk] .button {
    cursor: pointer;
}

.button[disabled] {
    opacity: 0.30;

    cursor: not-allowed;
}

.button[disabled] .icon {
    fill: var(--fill)
}

.button .icon {
    fill: var(--color-tertiary);
}

.button[align="icon"] {
    height: calc(var(--font-size) + var(--font-size));
    width: calc(var(--font-size) + var(--font-size));
    border-radius: 50%;


}

[d-dk] .button[align="icon"][align-l]:hover {
    background: var(--ul-hover);
}

.button[align="icon"][align-l] {
    background: none;

}

.button[align="icon"][align-l] .icon {
    fill: var(--fill);
}

.button [btn-loader] {
    background: var(--color-secondary);
    display: none;
    width: auto;
    border-radius: var(--border-radius);
    gap: var(--padding-cnt);
    padding: var(--padding) var(--padding-cnt) var(--padding) var(--padding-cnt);
    cursor: not-allowed;
}

.button[isloading] [btn-loader] {
    display: flex;
}

[d-dk] .button:hover {
    opacity: 0.80;
}

.button[dk-a-btn] {
    filter: brightness(40%);
    filter: contrast(50%);
    /* background: red;*/
    /*scale: 50%;*/
    transform: scale(90%);
}

.button[isloading]:hover {
    opacity: 1;
}

.button[disabled]:hover {
    opacity: 0.30;
}

.button[isloading] {
    filter: contrast(60%);
}

/*mobile action*/

.button::before {
    content: '';
    position: absolute;
    display: flex;
    /*top:0; bottom: 0; left:0; */
    background-color: var(--ul-hover);
    border-radius: 5px;

}

.button[mb-a-btn] {
    transform: scale(90%);
}

[d-mb] .button[align="icon"] {
    transform: scale(100%);
}

.button[mb-a-btn]::before {
    animation-name: mb-a-btn;
    animation-duration: var(--transition-time);
    animation-fill-mode: forwards;

    /*animation-delay: 200ms;*/

}

@keyframes mb-a-btn {
    0% {
        opacity: 0.50;
        top: 30%;
        bottom: 30%;
        left: 30%;
        right: 30%;
        border-radius: 50%;
    }

    100% {
        opacity: 1;
        border-radius: inherit;
        top: 0;
        bottom: 0;
        left: 0;
        left: 0;
        right: 0;
    }
}
