 .dropdown-menu {
     position: fixed;
     top: 0;
     left: 0;
     width: auto;
     display: none;
     padding: var(--padding) var(--padding-cnt) var(--padding) var(--padding-cnt);
     border: var(--border-style) var(--border-width) var(--border-color);
     border-radius: var(--border-radius);
     background-color: var(--background-color);
     z-index: var(--level-100);
     margin: 0;
     box-shadow: 0 8px 16px var(--box-shadow-color);
     overflow-y: auto;

 }


 .dropdown-menu a {
     display: flex;
     padding: 0;
     column-gap: var(--padding);
     font-size: var(--font-size);
     color: var(--color);
     align-content: center;
     align-items: center;
     padding: var(--padding) 10px var(--padding) 10px;
     border-radius: var(--border-radius);
     margin: calc(var(--font-size) * 0.40) 0 calc(var(--font-size) * 0.40) 0;
     user-select: none;



 }

 .dropdown-menu a[disabled] {
     cursor: not-allowed;

 }

 .dropdown-menu[open] {
     display: block;
 }


 .dropdown-sub [dropdown="trigger"][Isopen] {
     background: var(--ul-hover);
 }

 @media (min-width: 768px) {
     .dropdown-sub .dropdown-menu {
         position: fixed;
     }

     .dropdown-menu a {
         cursor: pointer;
     }

     .dropdown-menu a:hover {

         background: var(--ul-hover);
     }

     .dropdown-menu a[disabled]:hover {
         background-color: none;
     }


     .dropdown-menu[open][down] {
         animation: fadeInDown var(--transition-time) ease;
     }

     .dropdown-menu[open][up] {
         animation: fadeInUp var(--transition-time) ease;
     }

 }

 @media (max-width: 768px) {
     .dropdown-menu a {
         cursor: auto;
         margin-left: var(--padding-cnt);
         margin-right: var(--padding-cnt);
     }

     .dropdown-menu a:active {
         background-color: var(--ul-hover);

     }

     .dropdown-menu a[disabled]:active {
         background-color: none;
     }

     .dropdown-menu[d-defind] {
         position: fixed;

     }

     .dropdown-menu {
         width: auto;
         max-width: auto;
         position: inherit;
         border: none;
         box-shadow: none;
         background: none;

         height: auto;
         max-height: auto;
         padding: 0;
     }

     .dropdown-menu[open] {
         width: auto;
         max-width: auto;
         height: auto;
         max-height: auto;

     }

     .dropdown-sub [dropdown="trigger"] [more_th] {
         transition: transform var(--transition-time) ease;
     }

     .dropdown-sub [dropdown="trigger"][Isopen] [more_th] {
         transform: rotate(90deg);
         transition: transform var(--transition-time) ease;
     }

 }


 .dropdown-menu a,
 a a,
 a div,
 a li {
     text-decoration: none;
     color: var(--color);
     flex: auto;

 }



 .dropdown-menu a left,
 right {
     height: calc(var(--font-size) + 5px);
     width: calc(var(--font-size) + 5px);
     border-radius: 50%;
     fill: var(--fill);


 }



 .dropdown-sub a right svg[more_th] {
     height: var(--font-size);
     width: var(--font-size);

 }

 .dropdown-menu a left img {
     height: 100%;
     width: 100%;
     border-radius: 50%;
     background-size: contain;
     background-repeat: no-repeat;
 }

 .dropdown-menu a right img {
     height: 100%;
     width: 100%;
     border-radius: 50%;
     background-size: contain;
     background-repeat: no-repeat;
 }


 .dropdown-menu a left+* {
     flex: auto;
     margin-left: calc(var(--font-size) * 0.20);

 }

 .dropdown-menu a right svg,
 left svg {
     min-height: calc(var(--font-size) + 5px);
     min-width: calc(var(--font-size) + 5px);

 }



 .dropdown-menu a div,
 a li {
     overflow-x: hidden;
     /*white-space: nowrap;
    text-overflow: ellipsis;*/

 }

 .dropdown-menu[overflow-x="nowrap"] a div,
 a li {
     white-space: nowrap;
     text-overflow: ellipsis;

 }

 .dropdown[join="divider"] .dropdown-menu a {
     border-bottom: var(--border-style) var(--border-width) var(--border-color);
 }

 .dropdown-menu [loading-drop] {
     display: none;
 }

 .dropdown-menu[isloading] [loading-drop] {
     display: flex;
     min-height: calc(var(--font-size) + var(--font-size));
 }

 .dropdown-menu[isloading] .items-drops {
     display: none;
 }

 .dropdown-menu [loading-drop] .icon svg {
     height: calc(var(--font-size) + calc(var(--font-size) * 0.80));
     width: calc(var(--font-size) + calc(var(--font-size) * 0.80));
     fill: var(--color-primary);

 }
