/*hidden when  matter screen mobile dekstop*/
@media screen and (min-width: 768px) {
    .no-s-dk {
        display: none!important;
    }
}

@media screen and (max-width: 768px) {
    .no-s-mb {
        display: none !important;
    }
}

/*hidden when matter device */
[d-dk] .no-d-dk {
    display: none !important;
}

[d-mb] .no-d-mb {
    display: none !important;
}

/*hidden when matter theme ,dark light*/

.no-t-light-flex,
.no-t-light {
    display: none;
}

.dark .no-t-light-flex {
    display: flex;
}

.dark .no-t-light {
    display: block;
}

.dark .no-t-dark {
    display: none;
}