[form] input {
  border: none;
}

[form] {
  display: grid;
}

[form] [form-label] {
  font-size: 19px;
  width: 95%;
  margin-bottom: 15px;
  white-space: normal;
  word-break: break-all;
}



[form-user-select] {
  user-select: none;
  /*selction not allowd*/
}

[area=input] label {
  margin-bottom: 13px;
}


/*[form] [hover]:hover{ 
  background:  black; color:white; 
}*/

[form-input-right-icon] {
  height: calc(var(--font-size) + 5px);
  width: calc(var(--font-size) + 5px);
  fill: var(--right-icon-fill);
  position: absolute;
  padding: 0;
  right: 10px;
  border-radius: 50%;
  background: var(--background-color);

}

[form-input-left-icon] {
  display: flex;
  position: absolute;
  /*padding-left:10px;
       padding-right:10px;*/
  margin-left: 10px;
  margin-right: 10px;

  height: calc(var(--font-size) + 5px);
  width: calc(var(--font-size) + 5px);
  fill: var(--left-icon-fill);
  border-radius: 50%;
  overflow: hidden;
  background: none;

}

[form-input-left-icon] img {
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

[form-input-placeholder]::placeholder {
  color: var(--placeholder-color);
  /*opacity: 0.5;*/
}

[form-text-width] {
  min-width: 10px;
  flex: auto;
  position: relative !important;
  /*padding-right: 10px;*/
  /* width: 100% !important;*/
  display: flex;

  margin-right: calc(var(--font-size) * 2);
  box-sizing: content-box;
  white-space: normal;
  word-break: break-word;


}

[form-border] {
  border: var(--border-style) var(--border-width) var(--border-color);
  border-radius: var(--border-radius);
}


[form-border-left-text] {
  border-right: var(--border-style) var(--border-width) var(--border-color);

}

[form-border]:hover {
  border-color: var(--color-secondary);
}

div[form=input] [form-input-right-icon] {
  display: none;
}
