[none-scroll] {
  scrollbar-width: none;
}

[none-scroll]::-webkit-scrollbar {
  width: 0px;
  display: none;
  background-color: none;
}

[none-scroll]::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0);
}


@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}

@keyframes fadeRight {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}

:root {

  background: none;
  /* min-height: 40px; */

  --color-primary: #7e22ce;
  /*Fuchsia defult*/
  --color-primary-dim: #a78bfa;
  --color-primary-container: hsla(262, 100%, 58%, 1);
  /*--brand-color*/
  --color-secondary: black;
  --color-secondary-dim: white;
  /*--brand-second-color*/
  --color-tertiary: white;
  --color-tertiary-dim: hsla(0, 0%, 24%, 1);
  --color-surface: white;
  --color-surface-dim: white;
  --color-surface-gray: #4b5563;
  --color-surface-gray-dim: #9ca3af;
  --color-surface-container: rgba(207, 207, 207, 0.35);
  --color-success: rgba(0, 194, 0, 1);
  --color-success-container: hsla(120, 94%, 28%, 1);
  --color-success-dim: rgba(106, 231, 106, 1);
  --color-warning: rgba(214, 189, 0, 1);
  --color-warning-dim: rgba(255, 212, 56, 1);
  --color-warning-container: hsla(53, 100%, 29%, 1);
  --border-color: rgba(133, 133, 133, 0.30);
  --border-color-active: var(--color-secondary);
  /* you can chnage forced */
  --border-width: 1px;
  --border-style: solid;
  --border-radius: 5px;
  --box-shadow-color: rgba(0, 0, 0, 0.1);
  --box-shadow-color-dim: rgba(0, 0, 0, 0.3);
  --background-color: white;
  --background-color-dim: black;
  --color: hsla(0, 0%, 24%, 1);
  --color-dim: white;
  --color-active: white;
  --checkmark-fill: black;
  --checking-fill: black;
  --disabled-bacground: rgba(250, 250, 250, 0.08);
  --disabled-opacity: 0.50;
  --error-color: hsla(0, 100%, 57%, 1);
  --error-color-dim: hsla(0, 100%, 57%, 1);
  --error-color-container: hsla(0, 94%, 37%, 1);
  --font-size: 17px;
  --fill: #999999;

  /*--icon-size:calc(var(--font-size) + 5px); */
  /* you can chnage forced */

  --level-1: 1;
  /*z-index:1 ; content level;*/
  --level-5: 5;
  /*z-index:10 ;content hoverd lke fixed chat icon or..*/
  --level-50: 50;
  /*z-index: ; header;*/
  --level-60: 60;
  /*z-index: ; sidebars;*/
  --level-70: 70;
  /*pop title*/
  --level-100: 100;
  /*z-index: ;Popover, Dialog; dropdown, Tooltip*/
  --level-150: 150;
  /*z-index: ;Alert Dialog*/

  --left-background: rgba(240, 240, 240, 0.50);
  --left-icon-fill: #999999;
  --min-height: 30px;
  --over-bg-blur: blur(1px);
  --over-bg: rgba(0, 0, 0, 0.2);
  --placeholder-color: #999999;
  /*hsla(0, 0%, 24%, 1)*/
  --padding: 5px;
  --padding-cnt: 15px;
  /*top-bottom*/
  --right-icon-fill: #999999;
  --redio-height: 20px;
  --selection-color: rgba(171, 122, 255, 0.60);
  --scrollbar-bg: white;
  --scrollbar-width: 8px;
  --transition-time: 200ms;
  --ul-hover: rgba(181, 181, 181, 0.34);
  --viwport: 1350px;
  /*max-width;*/
}

[form-font-size] {
  font-size: var(--font-size);
}

[form-input-color] {
  color: var(--color);
}

[form-cursor] {
  cursor: pointer;
}

[form-cursor-not-allowed] {
  cursor: not-allowed;
}

[padding] {
  padding: var(--padding) var(--padding-cnt) var(--padding) var(--padding-cnt);
}

[disabled] {
  opacity: var(--disabled-opacity);
  background-color: var(--disabled-bacground);
  cursor: not-allowed;

}